:root {
  /*Length*/
  --footer-height-first-div: 100px;
  --footer-margin-height: 5px;

  /*Color*/
  --primary-blue-color: rgb(0, 75, 168);
}

/**************Generic styles**************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

body {
  font-family: Arial, sans-serif;
  font-size: 10px;
  line-height: 1.6;
  overflow-x: hidden;
}

ul > li {
  list-style: none;
}

main > section {
  padding: 50px 30px;
}

/**************End Generic styles**************/

/**************Default Color**************/
/*Color*/
.color-white {
  color: white;
}

.color-black {
  color: black;
}

.color-blue {
  color: var(--primary-blue-color);
}

.color-beige {
  color: beige;
}

.color-darkgray {
  color: rgb(71, 71, 71);
}

.color-red {
  color: red;
}

.color-yellow {
  color: yellow;
}

.color-green {
  color: green;
}

.color-darkslategrey {
  color: darkslategrey;
}

/*Back Ground Color*/
.background-color-orange {
  background-color: rgb(225, 165, 0);
}

.background-color-blue {
  background-color: var(--primary-blue-color);
}

.background-color-light-gray {
  background-color: lightgray;
}

.background-color-whitesmoke {
  background-color: whitesmoke;
}

.background-color-white {
  background-color: white;
}

.background-color-lightseagreen {
  background-color: lightseagreen;
}

/*Border*/

.border-1-solid-lightgray {
  border: 1px lightgray solid;
}

/*Font Weight*/
.font-weight-600 {
  font-weight: 600;
}

.font-weight-550 {
  font-weight: 550;
}

.font-weight-525 {
  font-weight: 525;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-400 {
  font-weight: 400;
}

.font-size-18 {
  font-size: 1.8rem;
}

.font-size-25 {
  font-size: 2.5rem;
}

/*Width*/
.full-width {
  width: 100vw;
}

.full-width-100-per {
  width: 100%;
}

.width-100-per {
  width: 100%;
}

/*Margin*/
.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-row-10 {
  margin: 0 10px;
}

.margin-row-20 {
  margin: 0 20px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-left-null {
  margin-left: 0;
}

.margin-left-5 {
  margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-5 {
  margin-right: 5px;
}

.margin-top_-10 {
  margin-top: -10px;
}

.margin-bottom_-10 {
  margin-bottom: -10px;
}

.margin-bottom_-5 {
  margin-bottom: -5px;
}

.margin-0 {
  margin: 0;
}
/*Padding*/
.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-row-10 {
  padding: 0 10px;
}

.padding-row-20 {
  padding: 0 20px;
}

.padding-15 {
  padding: 15px;
}

.padding-top-15 {
  padding-top: 15px;
}
/**************End Default Color**************/

/* Specific styles*/

.container-logo {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 5px;
  width: 100%;
  background-color: rgb(0 89 255);
}

.container-logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 4rem;
  height: 4rem;
  margin-right: 10px;
  margin-left: 10px;
}

.web-header {
  margin-bottom: 0;
  font-size: 3rem;
  color: white;
}

.take-remain-space {
  flex: 1;
}

.menu-icon {
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 1.5rem;
}

.nav-menu {
  display: none;
}

.nav-menu > ul {
  width: 80%;
  margin-bottom: 0;
  background-color: lightcyan;
  border-radius: 10px;
}

.nav-menu > ul > li {
  padding: 10px;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
  border-radius: 10px;
}

.nav-menu-button {
  display: block;
  width: 100%;
  font-weight: bold;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.nav-menu > ul > li:hover {
  background-color: rgb(0, 207, 207);
}

.active {
  background-color: darkcyan;
  color: whitesmoke;
}

.open {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
}
#input-search {
  margin-bottom: 0;
  background-color: white;
}
.search-button {
  margin-bottom: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 167, 28);
  border: none;
  margin-left: 5px;
}

.flex-box-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 16px 10px 0;
}

.lan-contact div:first-child {
  width: 100px;
  margin-right: 10px;
}

.language-selector {
  margin-bottom: 0;
  background-color: white;
}

.language-selector option {
  width: 100%;
}

#contact-button {
  margin-bottom: 0;
  margin-right: 10px;
  background-color: rgb(0, 139, 219);
  border: 0;
}

.big-image-view {
  height: 30rem;
  margin-bottom: 10px;
}

.big-image-view > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#swappable-image {
  transition: opacity 0.5s ease-in-out;
}

.image-controls {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.image-controls button {
  margin: 0 5px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.image-controls button:hover {
  background-color: #0056b3;
}

.mini-section-h3 {
  color: black;
  font-weight: 600;
}

.p-header {
  color: #484848;
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 1.8rem;
}

.container-link-detail-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container-link-detail-page > a {
  background-color: var(--primary-blue-color);
  border: 0;
}

.container-link-detail-page > a > i {
  color: white;
}

main > section:nth-of-type(odd):not(:first-child) {
  background-color: var(--primary-blue-color);
  color: white;
}

.sq-start {
  color: var(--primary-blue-color);
}

.sq-start-yellow {
  color: darkorange;
}

.mini-section-2 {
  margin-bottom: 0;
}

.scroll-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-align: x mandatory;
}
.scroll-container > .new-article {
  width: 80vw;
  flex: 0 0 auto;
  margin-right: 20px; /* Add spacing between articles */
  scroll-snap-align: start;
}

.scroll-container > .event-container-even,
.event-container-odd {
  width: 60vw;
  flex: 0 0 auto;
  margin-right: 20px; /* Add spacing between articles */
  scroll-snap-align: start;
}

.new-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.container-extra-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-type-date {
  margin-right: 10px;
  padding: 5px 10px;
}

.box-type-date > span {
  color: white;
}

.event-container-odd {
  padding: 20px;
  background-color: white;
}

.event-container-even {
  padding: 20px;
  background-color: salmon;
}

.event-date {
  font-size: 5rem;
  margin: 0;
}
.event-month,
.event-location {
  font-size: 2rem;
  margin-top: -15px;
  margin-bottom: 0;
}

.container-event-date-month {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.one-transport-box {
  width: 90vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}

.transport-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.one-transport-box > div:first-child {
  display: flex;
  flex-direction: row;
}

.link-transport-new-tab {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-container-box,
.info-podebrady-container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10ppx;
}
.contain-one-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px lightgray solid;
}

.contain-one-box > h3 {
  width: 100%;
  padding: 15px;
  border: 1px lightgray solid;
}

.h4-icon-box {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.arrow-up-icon,
.arrow-down-icon {
  padding: 5px;
  background-color: lightgray;
  border-radius: 5px;
  color: grey;
}

.container-logo-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0 10px 5px;
  width: 100vw;
}

.space-margin-footer {
  height: var(--footer-height-first-div);
  margin-top: -120px;
}

.style-red-green-footer-line {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 50%,
    rgba(18, 212, 0, 1) 100%
  );
  height: var(--footer-margin-height);
  z-index: 0;
}

.logo-footer {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 10px;
  margin-left: 10px;
}

.social-link-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.social-link-footer > a {
  color: whitesmoke;
  margin: 0 5px;
}

.copyright > p {
  text-align: center;
}
/* Responsive Styles */

/*Screen size smaller than 300px*/
@media (max-width: 300px) {
  .logo {
    width: 3rem;
    height: 3rem;
  }
  .web-header {
    font-size: 2rem;
  }

  .menu-icon {
    font-size: 2rem;
    padding: 5px 10px;
    letter-spacing: 0;
    line-height: 0;
  }

  .fa-bars {
    margin: 0;
  }

  .lan-contact div:first-child {
    width: 30vw;
  }
}

/*Screen size larger than 500px*/
@media ((min-width: 500px) and (max-width: 599px)) {
  .logo {
    width: 4.5rem;
    height: 4.5rem;
  }
}

/*Screen size larger than 800px*/
@media ((min-width: 800px) and (max-width: 1200px)) {
  .logo {
    width: 6rem;
    height: 6rem;
  }

  .scroll-container > .new-article {
    width: 30vw;
  }

  .scroll-container > .event-container-even,
  .event-container-odd {
    width: 30vw;
  }

  .search-field {
    position: fixed;
    top: 0;
    height: 80px;
    left: calc(
      4rem + 50px + 13.5rem
    ); /* Account for logo width + margins + header spacing */
    right: calc(76px + 20px); /* Account for menu button width + margins */
    z-index: 1000; /* Ensure it appears above other elements */
    display: flex; /* Flex layout for input and button alignment */
    justify-content: flex-end; /* Align items to the left */
    align-items: center;
    padding: 0;
    margin-left: 10px;
  }

  #input-search {
    width: 50%;
  }

  .flex-box-row-end {
    padding-top: 10px;
  }
}

@media ((min-width: 1201px) and (max-width: 3600px)) {
  .menu-icon {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    height: 60px;
    top: 0;
    left: calc(
      4rem + 50px + 13.5rem
    ); /* Account for logo width + margins + header spacing */
    right: calc(76px + 20px);
    z-index: 1000;
    padding-bottom: 0;
    max-width: 1000px;
  }

  .nav-menu > ul {
    display: flex;
    flex-direction: row;
    background-color: rgb(0 89 255);
  }

  #input-search {
    width: 40%;
  }

  .nav-menu > ul > li > a {
    color: whitesmoke;
  }

  .flex-box-row-end {
    position: fixed;
    top: 0;
    z-index: 1001;
    right: 15px;
    height: 60px;
    padding: 0;
  }

  #contact-button {
    background-color: rgb(255, 208, 0);
  }

  .active {
    background-color: rgb(255, 143, 64);
  }
}

@media ((min-width: 700px) and (max-width: 1000px)) {
  .podebrady-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
  }

  .podebrady-section-1 {
    grid-column: 1;
    grid-row: 1;
  }

  .podebrady-section-2 {
    grid-column: 1;
    grid-row: 2;
  }
  .podebrady-section-3 {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  .big-image-view {
    height: 50rem;
  }
}

@media ((min-width: 1000px) and (max-width: 1800px)) {
  .scroll-container > .new-article {
    width: 30vw;
  }

  .scroll-container > .event-container-even,
  .event-container-odd {
    width: 30vw;
  }

  .podebrady-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
  }

  .podebrady-section-1 {
    grid-column: 1;
    grid-row: 1;
  }

  .podebrady-section-2 {
    grid-column: 1;
    grid-row: 2;
  }
  .podebrady-section-3 {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  .big-image-view {
    height: 50rem;
  }
}

@media ((min-width: 1800px) and (max-width: 3600px)) {
  .scroll-container > .new-article {
    width: 20vw;
  }

  .scroll-container > .event-container-even,
  .event-container-odd {
    width: 20vw;
  }

  .podebrady-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
  }

  .podebrady-section-1 {
    grid-column: 1;
    grid-row: 1;
  }

  .podebrady-section-2 {
    grid-column: 1;
    grid-row: 2;
  }
  .podebrady-section-3 {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
  .big-image-view {
    height: 50rem;
  }
}

@media ((min-width: 500px) and (max-width: 700px)) {
  .scroll-container > .new-article {
    width: 50vw;
  }

  .scroll-container > .event-container-even,
  .event-container-odd {
    width: 40vw;
  }
}

@media ((min-width: 700px) and (max-width: 800px)) {
  .scroll-container > .new-article {
    width: 40vw;
  }

  .scroll-container > .event-container-even,
  .event-container-odd {
    width: 30vw;
  }
}

/*Screen size larger than 600px*/
@media ((min-width: 600px) and (max-width: 800px)) {
  .search-field {
    position: fixed;
    top: 0;
    height: 60px;
    left: calc(
      4rem + 25px + 13.5rem
    ); /* Account for logo width + margins + header spacing */
    right: calc(76px + 10px); /* Account for menu button width + margins */
    z-index: 1000; /* Ensure it appears above other elements */
    display: flex; /* Flex layout for input and button alignment */
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    padding: 0;
    margin-left: 10px;
  }

  .search-button {
    margin-right: 10px;
  }

  .take-remain-space {
    position: relative;
  }

  .flex-box-row-end {
    padding-top: 10px;
  }
}

@media ((min-width: 700px) and (max-width: 3600px)) {
  .section-transport,
  .section-thing-to-do,
  .section-contact,
  .section-event,
  .section-news {
    display: grid;
    grid-template-columns: 1fr 50px;
    grid-template-rows: auto auto;
  }

  .header-3-section-transport-see-all,
  .section-thing-to-do-see-all,
  .section-contact-see-all,
  .section-event-see-all,
  .section-news-see-all {
    grid-column: 2;
    grid-row: 1;
    margin-top: 10px;
    margin-right: 10px;
  }

  .header-3-section-transport-see-all > a,
  .section-thing-to-do-see-all > a,
  .section-contact-see-all > a,
  .section-event-see-all > a,
  .section-news-see-all > a {
    display: block;
    width: 80px;
  }

  .header-3-section-transport,
  .section-thing-to-do-header,
  .section-contact-header,
  .section-event-header,
  .section-news-header {
    grid-column: 1;
    grid-row: 1;
  }
  .header-3-section-transport-detail,
  .section-thing-to-do-detail,
  .section-contact-detail,
  .section-event-detail,
  .section-news-detail {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .transport-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .one-transport-box {
    width: 40%;
  }

  .contact-container-box {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .contain-one-box {
    width: 30vw;
    margin-top: 0;
    background-color: white;
  }
}

@media ((min-width: 800px) and (max-width: 3600px)) {
  .section-footer-podebrady {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    height: auto;
  }

  .section-footer-podebrady-logo {
    grid-column: 1;
    grid-row: 1;
  }
  .section-footer-podebrady-text {
    grid-column: 1;
    grid-row: 2;
  }
  .section-footer-podebrady-image {
    grid-column: 2;
    grid-row: 1 / span 2;
    margin-top: 50px;
  }

  .container-logo-footer {
    width: auto;
  }
}
